In [2]:
#조건 표현식

a = int(input("숫자를 입력하세요 : "))
print("3이 맞습니다") if a == 3 else print("3이 아닙니다")

숫자를 입력하세요 : 3
3이 맞습니다

In [3]:
num = int(input("숫자를 입력하세요"))
value = num if num >= 0 else 0
print(value)

숫자를 입력하세요-5
0

In [5]:
num = 2
result = '홀수입니다' if num % 2 else '짝수입니다'
print(result)

짝수입니다

In [6]:
L = []
for i in range(1, 31):
    if i % 2 ==1:
        L.append(i)
print(L)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [8]:
lunch = ['짜장면', '초밥']
for idx, menu in enumerate(lunch, start=1):
    print(idx, menu)

1 짜장면
2 초밥

In [9]:
classroom = ['Kim', 'Hong', 'Kang']
list(enumerate(classroom))

[(0, 'Kim'), (1, 'Hong'), (2, 'Kang')]

In [10]:
classroom = {"teacher": "Kim", "student1": "Hong", "student2": "Kang"}
for member in classroom:
    print(member)

teacher
student1
student2

In [11]:
for member in classroom:
    print(classroom[member])

Kim
Hong
Kang

In [12]:
for key in classroom:
    print(key)

teacher
student1
student2

In [13]:
for key in classroom.keys():
    print(key)

teacher
student1
student2

In [14]:
for val in classroom.values():
    print(val)

Kim
Hong
Kang

In [16]:
for key, val in classroom.items():
    print(key, val)

teacher Kim
student1 Hong
student2 Kang

In [ ]:
for i in range(10):
    if i != 0:
        break
    print(i)

In [ ]:
# 3이 있을 경우 True를 print하고, 아닐 경우 False를 print합니다.
numbers = [1, 5, 10]
check_num = False
for num in numbers:
    if num == 3:
        check_num = True
        break
print(check_num)

In [3]:
numbers = [1, 3, 5, 10]
for idx, num in enumerate(numbers):
    if num == 3:
        print('True')
        break
    if idx+1 == len(numbers):
        print('False')

True

In [1]:
# 재귀함수

In [ ]:
def my_sum(n)

Q.문자열 계산하기
아래와 같이 문자열이 주어졌을 때, 바보같은 사용자를 위해 계산을 해주려고 한다.

이 계산기는 더하기와 빼기밖에 못한다.

calc(equation)을 만들어봅시다.

In [3]:
def calc(equation):
    equation = equation.replace('+', ' +').replace('-', ' -')
    return sum(map(int, equation.split()))

    
print(calc('123+2-124')) #=> 1
print(calc('-12+12-7979+9191')) #=> 1212
print(calc('+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1')) #=> 0

1
1212
0